ion-content {

    ion-img {
      width: 100%; // Ajustar el ancho de la imagen al 100% del contenedor
      height: auto; // Altura automática para mantener la proporción de la imagen
      margin-bottom: 20px; // Margen inferior para separar la imagen del contenido siguiente
    }

    ion-card {
      margin-bottom: 20px; // Margen inferior para separar las tarjetas
    }

    ion-list {
      ion-item {
        ion-label {
          font-weight: bold; // Hacer negrita el texto del label
        }

        ion-text {
          color: #ffffff; // Color de texto
        }
      }
    }
  }