<ion-card *ngFor="let tarea of tareas; let i = index" class="custom-card" color="tertiary">
  <ion-card-header>
    <ion-card-title>{{ tarea.titulo }}</ion-card-title>
    <ion-card-subtitle class="fecha">Fecha: {{ tarea.fecha }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <!-- Botón para ver más detalles -->
    <ion-button expand="block" (click)="verDetalles(tarea.id)" color="secondary" class="ver-detalles">
      Ver detalles
    </ion-button>
  </ion-card-content>
  <ion-button fill="clear" (click)="eliminarTarea(i)" color="danger" class="eliminar-tarea">
    Eliminar Tarea
  </ion-button>
</ion-card>

<div class="floating-button-container">
  <ion-button id="open-modal" expand="block" (click)="openModal()" shape="round" color="primary" class="floating-button">
    +
  </ion-button>
</div>

