/* Ajustar el tamaño del componente dentro del modal */
:host {
    display: block; /* Asegúrate de que el componente se muestre como bloque */
    width: 100%; /* Ocupar todo el ancho disponible */
    height: 100%; /* Ocupar todo el alto disponible */
  }
  
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    padding: 0 16px; // Ajusta el espacio interior según sea necesario
  }
  
  ion-item {
    margin-bottom: 16px; // Espacio entre elementos dentro del contenido
  }
  

