<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="success">
    <ion-card-content>
      Llevar a Bruno al veterinario.
    </ion-card-content>
    <ion-card-content>
      Fecha: 05/24
    </ion-card-content>
    <ion-button fill="clear">+ Ver mas detalles</ion-button>
  </ion-card>
  
  <ion-card color="success">
    <ion-card-content>
      Recordar tarea de Aplicaciones Moviles.
    </ion-card-content>
    <ion-card-content>
      Fecha: 05/24
    </ion-card-content>
    <ion-button fill="clear">+ Ver mas detalles</ion-button>
  </ion-card>
  
  <div class="floating-button-container">
    <!-- Botón redondo -->
    <ion-button (click)="irAFormulario()" shape="round" color="primary" class="floating-button">+</ion-button>
  </div>
  
</ion-content>
